* {
    font-family: "Microsoft YaHei UI Light", 'Microsoft YaHei', sans-serif;
}

body {
    /*letter-spacing: 0.1em;*/
}

a, a:link, a:active, a:hover, a:visited, a:before, a:after {
    text-decoration: none;
}

.bold {
    font-weight: bold;
}
