body {
    overflow-x: hidden;
}

a, a:link, a:active, a:hover, a:visited, a:before, a:after {
    text-decoration: none;
}

.bold {
    font-weight: bold;
}

.navbar-brand {
    font-family: "French Script MT", sans-serif;
    font-size: 2em;
    font-weight: bold !important;
    color: green !important;
}

th img {
    height: 1em;
}