* {
    font-family: 'Roboto', sans-serif;
}

body {
    overflow-x: hidden;
}

table {
    font-size: 1em;
}

input {
    border: 1px solid rgb(169, 169, 169);
}

a, a:link, a:active, a:hover, a:visited, a:before, a:after {
    text-decoration: none;
}

th img, a img {
    display: inline-block;
    height: 1em;
}

.label-fade {
    background-color: #999999;
}

.bold {
    font-weight: bold;
}

.navbar-brand {
    font-family: 'Roboto Condensed', sans-serif;
}

.container {
    width: 100%;
}